

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: rgb(245, 219, 219);
  color: rgb(0, 0, 0);
}

.container {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn, .btn-submit {
  color: rgb(0, 0, 0);
  margin: 2rem;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(41, 255, 88, 0.4);
  border: 2px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  border-radius: 32px;
}


.btn:hover, .btn-submit:hover{
  background-color: pink;
}

.btntext{
  text-decoration: none; 
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.icon{
  margin: 10px;
}

.headerimg{
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  width: 800px;

}

.text{
max-width: 650px;
}

.homeimg{
  height: 550px;
}

.aboutbtn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.btn1, .btn2{
  color: rgb(0, 0, 0);
  margin: 2rem;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: rgba(199, 205, 86, 0.4);
  border: 2px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);
  border-radius: 32px;
}

.btn1:hover{
  background-color: rgb(216, 87, 108);
}

.btn2:hover{
  background-color: rgb(104, 169, 82);
}

.aboutimg{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 500px;
  margin: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
}

.navbar{
margin-left: 500px;

}

.navbtn{
  border-radius: 4px;
  background-color: pink;
}

.navbtn:hover{
  background-color: palevioletred;
}

.formtext{
  width: 444px;
height: 473px;
background: rgba(220, 220, 220, 0.06);
box-shadow: 4px 5px 8px -1px rgba(0, 0, 0, 0.3);
}

.input{
  width: 265px;
height: 35px;
background: rgba(255, 255, 255, 0.7);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 8px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(25px);
border-radius: 35px;
margin: 30px;
margin-left: 50px;
}

.input-msg{
  width: 265px;
  height: 75px;
  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(25px);
  border-radius: 35px;
margin-top: 30px;
margin-left: 50px;
}

.btn-submit{
margin-left: 160px;
margin-top: 80px;
}

.submit-msg{
  width: 444px;
  height: 473px;
  background: rgba(220, 220, 220, 0.06);
  box-shadow: 4px 5px 8px -1px rgba(0, 0, 0, 0.3);
  
}

